<div id="items">
<h1>Items for sa(i)le</h1>
<!--<%= _.each(items, JSON.stringify) %>-->
<% _.each(items, function (aItem) { %>
	<div class="item">
		<img src="/qrcode/generate/<%= aItem.id %>" />
		<ul class="item_info">
   			<li><h2><%= aItem.name %> (<%= aItem.id %>)</h2></li>
   			<li>price: <%= aItem.price %>$</li>
   			<li>description: <%= aItem.description %></li>
   		</ul>
  		<br style="clear: both" />
   </div>
<% }) %>