<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .paybutton {
            color: white;
            background-color: rgb(46, 210, 75);
            border: 1px solid rgb(27, 148, 27);
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1.4em;
            transition: background-color 0.5s ease;
            cursor: pointer;
        }
        .paybutton {
            background-color: rgb(37, 181, 63);
        }
        .title {
            text-align: center;
            font-weight:bold;
        }
    </style>
</head>
<body>
<h1 class="title">CHECKOUT</h1>
<div>
    <form id="checkout" method="post" action="/checkout">
        <div id="dropin"></div>
        <input type="submit" class="paybutton" value="Pay $<%=price%>">
        <input type="hidden" price="thisprice" class="thisprice" value="<%=price%>" />
    </form>
</div>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    var my_key = null;
    var price = $(".thisprice").val();
    $(function() {
        $.get("/sale/token", function(result) {
            if (result.token) {
                braintree.setup(
                        result.token,
                        'dropin', {
                            container: 'dropin',
                            paymentMethodNonceReceived: function (event, nonce) {
                                $.post("/sale/process", { 'nonce': nonce, 'price': price}, function(result) {
                                    window.location.href = '/sale/thank-you';
                                });
                            }
                        });
            }
        })
    });

</script>
</body>
</html>