body {
	font-family: sans-serif; 
}
#items {

	width: 500px;
	margin: 10px auto 0 auto;
}
.item {

	color: #222;
	border: 1px dashed #ccc;
	padding: 10px;

}
.item_info {

	float: left;
	list-style: none;
	width: 210px;

}
img {

	height: 200px;
	width: 200px;
	float: left;
}
h2 {
	font-size: 24px;
}

@media print {
    div#items h1 { display: none; }
}